{% extends "/html/base.html" %}

{% block header %}{% endblock %}
{% block subheader %}{% endblock %}

<!-- page content -->
{% block content %}
    <!-- Carousel
    ================================================== -->
   <!--  <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{'{{'}}yourName{{'}}'}}!</h1>
    </div> -->
  <ul>
    <li ng-repeat="phone in phones">
      {{'{{'}}phone.name{{'}}'}}
      <p>{{'{{'}}phone.snippet{{'}}'}}</p>
    </li>
     <p>Total number of phones: {{'{{'}}phones.length{{'}}'}}</p>
  </ul>
  
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
 
      Search: <input ng-model="query">
 
    </div>
    <div class="span10">
      <!--Body content-->
 
      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query">
          {{'{{'}}phone.name{{'}}'}}
          <p>{{'{{'}}phone.snippet{{'}}'}}</p>
        </li>
      </ul>
 
    </div>
  </div>
  </div>

    <!-- /.carousel -->
 {% endblock %}