{% extends "/html/base.html" %}

{% block header %}{% endblock %}
{% block subheader %}{% endblock %}

<!-- page content -->
{% block content %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
        <br>
        <br>
        <div class="container">
        <video id="my_video_1" class="video-js vjs-default-skin vjs-big-play-centered centerb" controls preload="auto" width="640" height="264" poster="http://video-js.zencoder.com/oceans-clip.png" data-setup="{}">
 		  <source src="http://redirector.c.googlesyndication.com/videoplayback/id/dfc531a2c1c8a609/itag/18/source/gfp_video_ads/ip/0.0.0.0/ipbits/0/expire/1382511882/sparams/ip,ipbits,expire,id,itag,source/signature/86DD66121080BD15004B8F0D4213EE8F503C3C48.2B694FDB364B2982CC3C4CCDC497CCC98804E521/key/ck2/file/file.mp4" type='video/mp4'>
 	      <source src="http://redirector.c.googlesyndication.com/videoplayback/id/dfc531a2c1c8a609/itag/43/source/gfp_video_ads/ip/0.0.0.0/ipbits/0/expire/1382511882/sparams/ip,ipbits,expire,id,itag,source/signature/A05085CFEF8DAED5AE6F2CAB72F46DB47CE4839D.0598A3C9F1C070DF92A050772FF9D6547CF71C7C/key/ck2/file/file.webm" type='video/webm'>
        </video>
            <div class="carousel-caption">
              <h1>Meet Caro from Caro & Co.</h1>
              <p>Hot off the press: Meet Caro from Caro & Co, she shows us how to put Bazinga into everyday meals!</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/png;base64," data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/png;base64," data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
 {% endblock %}