{% extends "/html/base.html" %}

{% block header %}{% endblock %}
{% block subheader %}{% endblock %}

<!-- page content -->
{% block content %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
        <br>
        <div class="container">
        <video id="my_video_1" class="video-js vjs-default-skin vjs-big-play-centered centerb" controls preload="auto" width="512" height="288" poster="http://video-js.zencoder.com/oceans-clip.png" data-setup="{}">
 		  <source src="http://every-mama-knows.appspot.com/serve/AMIfv97uI3wIDygKfQSWBqR3J_Z9AvQVFvctOEeXuFy3PkAGJZwwt1b8flKPKqYnNne_wyE552XRpph_24ToR-VDedl52tXIGtw_JcpNai0PXUotFG3_0Cq5nnv47ZQyHbOIlaXSPOSSqmqFoLqMQvn0o2zPj6NMyMjBbpUPKmbMAclniNrg7fw" type='video/mp4'>
 	      <source src="http://every-mama-knows.appspot.com/serve/AMIfv955_HH7R8noRztCBabHJA2pn6vkojvAcez6bzEkor3_8FaqauEpI68EvQzI4jejporWD6Phaus6ZMfkAymis86dOfAPHY5ft4pjeZaY_GTqr1kHKdNoEIA2UlFQd1spTWllZDq87qsM0HE5jfClxaqRMLap8xezd3pQ1zrr1U670tSnNrw" type='video/webm'>
        </video>
            <div class="carousel-caption">
              <h1>Meet Caro from Caro & Co.</h1>
              <p>Hot off the press: Meet Caro from Caro & Co, she shows us how to put Bazinga into everyday meals!</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/png;base64," data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/png;base64," data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
 {% endblock %}